

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


  body{

    width: 100%;
  }
 
  
  #header_image{
    text-align: center;
    margin-top: 0px;
    margin-left: 150px;

  }
  #header_image img{
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:25px; 
        padding-bottom: 25px;
  }
  #HomeArea{
    width: 100%;
    padding-top: 219px;
    height: 425px;
}
      .demo-bg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
}
      #black{
    background-color: #000000;
    width: 100%;
    height: 425px;
    opacity: 0.5;
    position: absolute;
}
      #HomeArea h1 {
 font-size: 40px;
    color: orange;
  text-align: center;
  padding-top: 7%;
    font-family:sans-serif;
    
}
#HomeArea p {
  text-align: center;
  color: #ffffff;
  font-size:20px;
    font-family:sans-serif;
}

.demo-content {
  position: relative;
  padding-top:150px;
    
}
#AboutMe{
  width: 100%;
  height: 100%;
 
  padding-top: 60px;
  padding-bottom: 20px;
}
#AboutMe img{
  width: 80%;
}
.MyIntro{
  font-size: 20px;
  width: 90%;
  padding-top: 3%;
  
  text-align: center;
  padding-bottom: 10px;
}

#ListTitle{
  font-size: 18px;
 width: 90%;
  
  text-align: center;
   
}
    

#AboutMe ul{
    width: 90%;
     margin-left: 0;
  text-align: center;
  font-size: 15px;

}
#AboutMe li{

padding: 10px;
font-size: 20px;
}
      
      
#Projects{
  width: 100%;
  height:1950px;
  background-color: #000000;
  padding-top: 100px;

}
#ImageEditing, #WebsiteEditing, #VedioEditing{
  background-color:#ffffff ;
  width: 90%;
  height: 550px;
  margin: 5%;
  margin-top: 3%;
  float: left;

}
      #ImageEditing img{
  
     margin-top: 4%;
  margin-left: 20%;
}
#VedioEditing img {
 
    margin-top: 10%;
  margin-left: 25%;
}
#WebsiteEditing img{
   
     margin-top: 14%;
  margin-left: 34%;
    
}

#ImageEditing h2, #WebsiteEditing h2, #VedioEditing h2 {
  font-size: 130%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:80%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
  font-weight: lighter;

}
      #btn1{
    margin-left: 30%;
    
}
#btn2{
    margin-left: 30%;
    
}
#btn3{
    margin-left: 30%;
    
}
#NavigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  
}
#ContactUs{
  width: 100%;
  height: 660px;
  background-color: #d1f3e7;
  padding-top: 100px;
}

.wrapper{

  width: 90%;
}
.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #0e3721;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
.name {
  background-color: #ebebeb;
  color: rgb(68, 68, 68);
}
.termsConditions{
  margin-left:10px ;
}
#footer{

  width: 100%;
}


.fa {
  padding: 10px;
  font-size: 15px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.demo a {
    position: relative;
    top: -500px;
    left: 42%;
      
      }
     
      


